<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features Page</title>
  </head>
  <body>
    <%- include("_header.ejs") %>
    <h1>Key Features</h1>
  </body>
</html>
